<h1>Update <%= @recipe.title() %> Recipe</h1>

<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
    <label class="form-label" for="name">Rename your recipe:</label>
    <br>
    <input class="form-group" id="title" name="title" type="text">
    <br>
    <button type="submit" class="button btn-success">Update Recipe Name</button>
</form>
<br>
<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="button btn-danger">Delete Recipe</button>
</form>
