<h2>Add ingredients!</h2>

<form action="/ingredients" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Ingredients:</label>
    <input class="form-control" id='name' name='name' type='text'>
    </br>
    <br>
    <button type="submit" class="button btn-success">Add Ingredients!</button>
  </div>
</form>
