<h4>Add this recipe to a category:</h4>

<form action="/recipes/<%= @recipe.id() %>/tags" method="post">
  <div class="form-group">
    <select name="tag_id">
      <% @available_tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.category %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button btn-success">Add this category to a recipe!</button>
</form>

<h4>This recipe's categories:</h4>

<% if @recipe.tags.any? %>
  <ul>
    <% @recipe.tags.each do |tags| %>
      <li><%= tags.category %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no categories yet!</p>
<% end %>
