<h2>Add a recipe category.</h2>


<form action="/tags" method="post">
  <label for="category">Enter a category (e.g. breakfast, lunch, dinner):</label>
  <input type="text" name="category" id="category">

  <button type="submit" name="button">Add new category!</button>
</form>
