<h2>Add a category!</h2>


<form action="/tags" method="post">
  <div class="form-group">
    <label class="form-label" for="category">Enter a category (e.g. breakfast, lunch, dinner):</label>
    <input class="form-control" type="text" name="category" id="category">
    <br>
    <br>
    <button type="submit" class="button btn-success">Add new category!</button>
  </div>
</form>
